<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

		<name>Piq Vault</name>
		<description>
			Secure Photo Sharer
		</description>
	

<plugin name="cordova-plugin-privacyscreen" />		
<plugin name="phonegap-plugin-csdk-client-auth" spec="~1.0.0">
        <variable name="CSDK_CLIENT_ID_IOS" value="xxxxx" />
        <variable name="CSDK_CLIENT_ID_ANDROID" value="b679249b56904517a7da0930c1647ebc" />
        <variable name="CSDK_CLIENT_SECRET_IOS" value="xxxxxx" />
        <variable name="CSDK_CLIENT_SECRET_ANDROID" value="05e1586e-c908-4a57-92ea-3d0f0ac1373f" />
</plugin>	
<plugin name="phonegap-plugin-csdk-image-editor" spec="~1.0.0">		





</widget>